.App {
  font-family: sans-serif;
  min-width: 100%;
  min-height: 100vh;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./assets/imgs/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

* {
  user-select: none;
}
